[submodule "WebJunkyard"]
	path = WebJunkyard
	url = git@github.com:Dwukn/WebJunkyard.git
[submodule "RustleMania"]
	path = RustleMania
	url = git@github.com:Dwukn/RustleMania.git
[submodule "GOLayers"]
	path = GOLayers
	url = git@github.com:Dwukn/GOLayers.git
[submodule "CPPlex"]
	path = CPPlex
	url = git@github.com:Dwukn/CPPlex.git
[submodule "SortItOut"]
	path = SortItOut
	url = git@github.com:Dwukn/SortItOut.git
