[submodule "neural-network-from-scratch"]
	path = neural-network-from-scratch
	url = git@github.com:Dwukn/neural-network-from-scratch.git
[submodule "R2D3"]
	path = R2D3
	url = git@github.com:Dwukn/R2D3.git
[submodule "HueMagic"]
	path = HueMagic
	url = git@github.com:Dwukn/HueMagic.git
[submodule "Hangman"]
	path = Hangman
	url = git@github.com:Dwukn/Hangman.git
[submodule "Gravitational-Lensing-Simulation"]
	path = Gravitational-Lensing-Simulation
	url = git@github.com:Dwukn/Gravitational-Lensing-Simulation.git
[submodule "General_classification_models"]
	path = General_classification_models
	url = git@github.com:Dwukn/General_classification_models.git
[submodule "EyeDeep-Net"]
	path = EyeDeep-Net
	url = git@github.com:Dwukn/EyeDeep-Net.git
[submodule "Computer-Vision-Projects"]
	path = Computer-Vision-Projects
	url = git@github.com:Dwukn/Computer-Vision-Projects.git
