[submodule "gitlite"]
	path = gitlite
	url = git@github.com:Dwukn/gitlite.git
[submodule "simple-static-code-analyzer"]
	path = simple-static-code-analyzer
	url = git@github.com:Dwukn/simple-static-code-analyzer.git
